
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');


/* variables */


:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 1rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body{
   width: 100vw;
   height: 100vh;
   font-size: .7rem;
   user-select: none;
   overflow-x: hidden;
   background: var(--clr-color-background);
   font-family: 'Poppins', sans-serif;
}

.container  {
  display: grid;
  width: 96%;
  gap: 1.5rem;
  grid-template-columns: 19rem auto 10rem;
  margin: 0 auto;
}

a{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 4rem;
  color:#000000
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 2.2rem;
  
}
h4{
  font-weight: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
}


p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-dark);
}

.warning {
  color: var(--clr-warnig);
}


/* aside */
  aside{
  height: 100vh;
  
 }
 aside .top{
  background:rgb(30,144,255);
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
  text-align: center;
  
 }

 aside .logo{
   display: flex;
   gap: 1rem;
   
 }
 aside .logo img{
   width: 2rem;
   height: 2rem;
 }
 aside .top div.close span{
   display: block;
 }

 /* ===================
 Sidebar
 ================== */

  aside .sidebar{
    background-image: linear-gradient(to bottom right, rgb(30,144,255), rgb(30,144,255));
  display: flex;
  flex-direction: column;
  height: 120vh;
  position: relative;
  top: 1rem;
gap: 20px;
  
 }

 aside h3{
  font-weight: 500;
 }

 aside .sidebar a{
  display: flex;
  color:#000;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
 
 }

 aside .sidebar a span{
  font-size: 2.7rem;
  transition: all .3s ease-in-out;
  margin-left: 0;
  
  
 }

 aside .sidebar a:last-child{
  position: absolute;
  bottom: 1rem; 
  width: 100%;
 }

 aside .sidebar a.active{
   background-color: var(--clr-light);
   color:#000000;
   margin-left: 0;
   border-left: 5px solid var(--clr-primary);
   margin-left: calc(0.5rem - 3px);
 }
 aside .sidebar a:hover span{
  margin-left: 1rem;
 } 



 /* ----------------------------
 --------- Main--------------
 ------------------------------ */

 main{
  margin-top: 1.2rem;
  width:fit-content;
  height:fit-content;
  margin-left: 2rem
 }
 main input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--clr-dark);
 }
 #tieude{
  text-align: center;
  
  font-weight: 300;
  background-image: linear-gradient(to bottom right, rgb(0,191,255), rgb(103, 11, 250));
  width: 2000px;
  margin: auto;
  height: 100px;
  border: 5px outset rgb(0,191,255);
  border-radius: 25px;
  margin-bottom: 65px;
 }

 /* main .date{
  display: inline-block;
  background: var(--clr-white);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
 } */
 custom-select {
  min-width: 350px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 150px;
  font-size: 0.8rem;
   padding: 0.675em 1em 0.675em 1em; 
  background-color: #fff;
  border: 1px solid #323435;
  
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

/* .custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgb(240, 9, 9);
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgb(226, 7, 7);
  top: 55%;
} */


/*=============
Aesthetics 
=========================*/

* {
  box-sizing: border-box;
}

/* body {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */
#reset{
position: absolute; 
top: 0px;
right: 0px;
margin-right: 7px;
margin-top:7px;
}
#resetbt{
  font-size: 2rem;
  color:#000000;
  height: 40px;
  width:40px;
  background-color: rgb(156, 150, 150);
  padding-top:5px;
}
main .container2>div>button{
  position: absolute; 
  top: 0px;
  right: 0px;
  margin-right: 15px;
  margin-top:15px;

}


main .insights{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 2.2rem;
   grid-auto-rows: 150px;
   margin-right: 100px;
}
main .insights>div{
  background-image: linear-gradient(to bottom right, rgb(236, 235, 253), rgb(255, 255, 255));
   /* padding: var(--card-padding); */
   border-radius: var(--card-border-radius);
   /* margin-top: 1rem; */
   box-shadow: var(--box-shadow);
   transition: all .4s ease;
   display:grid;
   grid-template-columns:repeat(3,1fr) ;
   grid-template-rows: repeat(3,1fr);
   
   /* align-items: flex-start; */
   
}

main .insights > div:hover{
  box-shadow: none;
}

main .insights>div  logo{
     background: coral;  
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px ;
      border-radius: 50%; 
     color: var(--clr-white);
     font-size: 3.4rem; 
     /* align-items: center; */
     height: 60px;
     width:60px;
     /* grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;
      */

     
  }
#totalorder{
  font-size: 3.1rem;
  padding: 6px;
  background: rgb(39, 2, 88);
}
#avgd{
  font-size: 3.1rem;
  padding: 6px;
  background: rgb(1, 170, 134);
}
main .insights > div.expenses logo{
   background: rgb(117, 6, 80);
}
main .insights > div.income logo{
  background:rgb(9, 131, 19);
}

main .insights > div .title_{
   flex-grow: 1;
  font-size: 1.7rem;
  font-weight: 650;
  padding-top: 10px;
  
  grid-column-start: 2;
  grid-column-end: 4;
  /* grid-row-start: 2;
  grid-row-end: 4;
} */}
#titleavg{
  margin-right: 1rem;
}

main .insights > div .number_{
font-size: 3rem;
text-align: center;
display: inline;
  grid-column-start: 1;
  grid-column-end: 4;
font-weight: 700;
color:#080000

}



main h1{
  color: var(--clr-dark);
}


main .container2{
   margin-top: 1rem;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap: 0.7rem;
   grid-auto-rows: 350px;

   
   
   
   
  

}
main .container2>div{
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(235, 233, 255));
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all .4s ease;
  position: relative;
}

main .container2 .area1 {
  background-color: #ffffff;
  border-radius: var(--card-border-radius);

}

main .container2 #item{
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  margin-right: 100px;
  position: relative;
  border: 1px solid #ccc; 
  
  
}
  .pie{
  position: absolute;
  bottom: 1px;
  left: -40px;
  width: 10px;
        
}
  #Title{
    position: absolute;
    top: 25px;
    right: 120px;
    width: 200px;
  }
  
main .container2 .area2 {
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  
  
  
}

#Titlechart{
  font-size: 23px;
  text-align: center;
}

main .container2 .row{
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  
  
}
main .container2 .row .scatterlegend h4 {
  display: inline-block; /* or use display: inline; */
  /* margin-left: 10px; */
}
main .container2 .row .scatterlegend #Customericon{
  margin-left: 300px;
  margin-top: 18px;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #f124cf;
}
main .container2 .row .scatterlegend #Coporateicon{
  margin-left: 480px;
  margin-top: 18px;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #499e6b;
}
main .container2 .row .scatterlegend #Homeicon{
  margin-left: 630px;
  margin-top: 18px;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ae6e6e;
}
main .container2 .row .scatterlegend #Home{
  margin-left: 320px;
  margin-top: 18px;
  display: inline-block;
  width: 100px;
  height: 10px;
  position: absolute;
}
main .container2 .row .scatterlegend #Coporate{
  margin-left: 500px;
  display: inline-block;
  margin-top: 18px;
  width: 50px;
  height: 10px;
  position: absolute;
}

main .container2 .row .scatterlegend #Customer{
  margin-left: 650px;
  margin-top: 18px;
  display: inline-block;
  width: 50px;
  height: 10px;
  position: absolute;
  
  
}
main .container2 .map{
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  margin-right: 150px;
 display: block;
  

  grid-row-end: 4;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  
} 

main .container2 .row2{
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  
  
}
 .popupchart{
  position: fixed;
  top:0; left:0;
  background:#dddddd;
  height:100%;
  width: 100%;
  z-index:100;
  display:none;
  
}
.popupchart  >logo{
  position:absolute;
  top:0; right:10px;
  font-size: 80px;
  font-weight:bolder;
  color:#000;
  cursor:pointer;
  z-index: 100;
}
.popupchart >div{
  position:absolute;
  top:40%; left:42%;
 transform: scale(2.3);
 display: none ;
  
  
}
.popupchart .coppyarea1{
  display: none

}
.popupchart .coppyarea2{
  display: none

}
.popupchart #coppypie{
  display: none

}
.popupchart .coppyrow{
  display: none

}
.popupchart .coppyrow2{
  display: none

}
.popupchart .mmap{
  display: none

}



/* **********
MEDIA QUERY
****************/

@media screen and (max-width:1200px) {
    .container{
      width: 94%;
      grid-template-columns: 7rem auto 14rem;
    }
    aside .sidebar h3{
      display: none;
    }
    aside .sidebar a{
      width: 5.6rem;
    }
    aside .sidebar a:last-child{
      position: relative;
      margin-top: 1.8rem;
    }
    main .insights{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
}

/* ****************
MEDIA QUERY PHONE
************************/

@media screen and (max-width:768px) {
  .container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  
  }
  
  aside{
    position: fixed;
    width: 18rem;
    z-index: 3;
    height: 100vh;
    background-color: var(--clr-white);
    display: none;
    left: -110px;
    animation:  menuLeft .3s ease forwards;
  }
  
  @keyframes menuLeft {
      to{
        left: 0;
      }
  }
  



  aside .logo h2{
       display: inline;
  }
  aside .sidebar h3{
    display: inline;
  }
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }
  aside .top div.close  span{
     display: inline;
     position: absolute;
     right: 0;
     margin-right:30px;
     font-size: 35px;
     cursor: pointer;
  }



 main .insights{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1.6rem;
  padding: 40px;
 }
}
.dc-chart { font-size: 15px;
}
.dc-grid-top { padding-left: 50px; font-size: 14px; font-weight: bold; } 
 .dc-grid-item { padding-left: 100px; font-size: 12px; font-weight: normal; } 